.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.682617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.769043;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.766602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls7{letter-spacing:-0.306800px;}
.lsa{letter-spacing:-0.240000px;}
.lsc{letter-spacing:-0.096000px;}
.ls8{letter-spacing:-0.035520px;}
.ls0{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.096000px;}
.ls9{letter-spacing:0.100000px;}
.ls5{letter-spacing:0.120000px;}
.lsb{letter-spacing:0.173200px;}
.ls3{letter-spacing:0.192000px;}
.lsd{letter-spacing:0.204400px;}
.ls6{letter-spacing:0.240000px;}
.ls2{letter-spacing:0.384000px;}
.ls1{letter-spacing:0.720000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-3.408000px;}
._1{margin-left:-1.728000px;}
._2{width:1.152000px;}
._5{width:2.832000px;}
._4{width:3.888000px;}
._9{width:4.944000px;}
._11{width:6.240000px;}
._12{width:7.488000px;}
._17{width:8.528000px;}
._14{width:10.656000px;}
._a{width:13.440000px;}
._13{width:14.592000px;}
._b{width:15.640000px;}
._15{width:16.736000px;}
._16{width:18.296000px;}
._3{width:20.192000px;}
._8{width:21.728000px;}
._e{width:23.056000px;}
._1b{width:24.608000px;}
._f{width:26.256000px;}
._10{width:27.496000px;}
._c{width:31.920000px;}
._1a{width:33.600000px;}
._19{width:47.168000px;}
._6{width:51.696000px;}
._7{width:52.992000px;}
._18{width:54.872000px;}
._1c{width:69.800000px;}
._0{width:188.355840px;}
.fc2{color:rgb(0,112,192);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:39.840000px;}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs3{font-size:56.160000px;}
.y76{bottom:2.520000px;}
.y6e{bottom:7.200000px;}
.y3e{bottom:7.210000px;}
.y32{bottom:7.320000px;}
.y33{bottom:11.770000px;}
.y0{bottom:17.000000px;}
.y3d{bottom:19.210000px;}
.y2a{bottom:20.544000px;}
.y68{bottom:27.384000px;}
.y31{bottom:29.290000px;}
.y6d{bottom:29.310000px;}
.y74{bottom:33.610000px;}
.y3c{bottom:33.730000px;}
.y3f{bottom:34.000000px;}
.y29{bottom:36.144000px;}
.y30{bottom:46.830000px;}
.y3b{bottom:48.850000px;}
.y28{bottom:49.944000px;}
.y67{bottom:50.904000px;}
.y3a{bottom:60.370000px;}
.y27{bottom:63.624000px;}
.y6c{bottom:64.230000px;}
.y2f{bottom:64.350000px;}
.y66{bottom:66.744000px;}
.y39{bottom:71.890000px;}
.y26{bottom:76.224000px;}
.y65{bottom:80.304000px;}
.y6b{bottom:81.750000px;}
.y2e{bottom:81.870000px;}
.y73{bottom:83.290000px;}
.y38{bottom:83.410000px;}
.y25{bottom:89.184000px;}
.y64{bottom:94.464000px;}
.y72{bottom:94.810000px;}
.y37{bottom:94.930000px;}
.y2c{bottom:99.260000px;}
.y24{bottom:102.980000px;}
.y70{bottom:106.320000px;}
.y35{bottom:106.440000px;}
.y63{bottom:110.420000px;}
.y23{bottom:116.780000px;}
.y62{bottom:124.220000px;}
.y22{bottom:130.580000px;}
.y61{bottom:138.020000px;}
.y21{bottom:144.380000px;}
.y60{bottom:151.820000px;}
.y20{bottom:158.180000px;}
.y5f{bottom:165.620000px;}
.y1f{bottom:171.980000px;}
.y5e{bottom:179.420000px;}
.y1e{bottom:185.780000px;}
.y5d{bottom:193.250000px;}
.y1d{bottom:199.610000px;}
.y5c{bottom:206.810000px;}
.y1c{bottom:213.410000px;}
.y5b{bottom:220.850000px;}
.y1b{bottom:227.210000px;}
.y5a{bottom:234.650000px;}
.y1a{bottom:241.010000px;}
.y59{bottom:248.450000px;}
.y19{bottom:254.810000px;}
.y58{bottom:262.250000px;}
.y18{bottom:268.610000px;}
.y57{bottom:276.050000px;}
.y17{bottom:282.410000px;}
.y56{bottom:289.850000px;}
.y16{bottom:296.210000px;}
.y55{bottom:303.650000px;}
.y15{bottom:310.010000px;}
.y54{bottom:317.450000px;}
.y14{bottom:323.810000px;}
.y53{bottom:331.250000px;}
.y13{bottom:337.370000px;}
.y52{bottom:345.050000px;}
.y12{bottom:351.170000px;}
.y51{bottom:358.850000px;}
.y11{bottom:365.210000px;}
.y50{bottom:372.650000px;}
.y10{bottom:379.030000px;}
.y4f{bottom:386.470000px;}
.yf{bottom:392.830000px;}
.y4e{bottom:400.270000px;}
.ye{bottom:406.630000px;}
.y4d{bottom:414.070000px;}
.yd{bottom:420.430000px;}
.y4c{bottom:427.870000px;}
.yc{bottom:434.230000px;}
.y4b{bottom:441.670000px;}
.yb{bottom:448.030000px;}
.y4a{bottom:455.470000px;}
.ya{bottom:461.830000px;}
.y49{bottom:469.270000px;}
.y9{bottom:475.630000px;}
.y48{bottom:483.070000px;}
.y8{bottom:489.430000px;}
.y47{bottom:496.870000px;}
.y7{bottom:503.230000px;}
.y46{bottom:510.670000px;}
.y6{bottom:517.030000px;}
.y45{bottom:524.470000px;}
.y5{bottom:530.830000px;}
.y44{bottom:538.270000px;}
.y4{bottom:544.630000px;}
.y43{bottom:552.070000px;}
.y3{bottom:557.710000px;}
.y42{bottom:565.900000px;}
.y2{bottom:569.740000px;}
.y41{bottom:579.700000px;}
.y40{bottom:593.260000px;}
.y1{bottom:595.780000px;}
.y75{bottom:604.300000px;}
.y36{bottom:606.210000px;}
.y34{bottom:606.220000px;}
.y71{bottom:615.810000px;}
.y6f{bottom:615.820000px;}
.y2d{bottom:723.810000px;}
.y2b{bottom:723.820000px;}
.y6a{bottom:733.410000px;}
.y69{bottom:733.420000px;}
.h16{height:11.510000px;}
.h2{height:33.486562px;}
.h5{height:33.656250px;}
.hc{height:41.415703px;}
.h10{height:41.507812px;}
.h4{height:42.057656px;}
.h8{height:42.421641px;}
.h12{height:45.195000px;}
.h7{height:45.906562px;}
.h6{height:49.898438px;}
.h3{height:50.671875px;}
.he{height:58.381172px;}
.h11{height:59.286094px;}
.h13{height:108.490000px;}
.h9{height:108.500000px;}
.ha{height:108.510000px;}
.h14{height:115.310000px;}
.h15{height:115.320000px;}
.hb{height:115.430000px;}
.hd{height:115.440000px;}
.hf{height:808.000000px;}
.h1{height:815.500000px;}
.h0{height:841.920000px;}
.w4{width:108.260000px;}
.w5{width:205.210000px;}
.w6{width:205.220000px;}
.w2{width:212.680000px;}
.w3{width:212.690000px;}
.w8{width:254.440000px;}
.w9{width:254.450000px;}
.w7{width:272.210000px;}
.wa{width:528.500000px;}
.w1{width:535.500000px;}
.w0{width:595.320000px;}
.x13{left:0.000000px;}
.x7{left:5.400000px;}
.x8{left:7.200000px;}
.x12{left:13.550000px;}
.x10{left:20.390000px;}
.xb{left:30.384000px;}
.x9{left:36.024000px;}
.x0{left:42.500000px;}
.x1{left:49.680000px;}
.xd{left:51.360000px;}
.x17{left:60.350000px;}
.x11{left:61.670000px;}
.xa{left:69.500000px;}
.x4{left:70.944000px;}
.x3{left:78.024000px;}
.x5{left:90.744000px;}
.xf{left:103.100000px;}
.xc{left:262.370000px;}
.x14{left:266.930000px;}
.x15{left:321.890000px;}
.xe{left:370.640000px;}
.x16{left:423.790000px;}
.x2{left:460.060000px;}
.x6{left:474.580000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls7{letter-spacing:-0.409067pt;}
.lsa{letter-spacing:-0.320000pt;}
.lsc{letter-spacing:-0.128000pt;}
.ls8{letter-spacing:-0.047360pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.128000pt;}
.ls9{letter-spacing:0.133333pt;}
.ls5{letter-spacing:0.160000pt;}
.lsb{letter-spacing:0.230933pt;}
.ls3{letter-spacing:0.256000pt;}
.lsd{letter-spacing:0.272533pt;}
.ls6{letter-spacing:0.320000pt;}
.ls2{letter-spacing:0.512000pt;}
.ls1{letter-spacing:0.960000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-4.544000pt;}
._1{margin-left:-2.304000pt;}
._2{width:1.536000pt;}
._5{width:3.776000pt;}
._4{width:5.184000pt;}
._9{width:6.592000pt;}
._11{width:8.320000pt;}
._12{width:9.984000pt;}
._17{width:11.370667pt;}
._14{width:14.208000pt;}
._a{width:17.920000pt;}
._13{width:19.456000pt;}
._b{width:20.853333pt;}
._15{width:22.314667pt;}
._16{width:24.394667pt;}
._3{width:26.922667pt;}
._8{width:28.970667pt;}
._e{width:30.741333pt;}
._1b{width:32.810667pt;}
._f{width:35.008000pt;}
._10{width:36.661333pt;}
._c{width:42.560000pt;}
._1a{width:44.800000pt;}
._19{width:62.890667pt;}
._6{width:68.928000pt;}
._7{width:70.656000pt;}
._18{width:73.162667pt;}
._1c{width:93.066667pt;}
._0{width:251.141120pt;}
.fs2{font-size:53.120000pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:74.880000pt;}
.y76{bottom:3.360000pt;}
.y6e{bottom:9.600000pt;}
.y3e{bottom:9.613333pt;}
.y32{bottom:9.760000pt;}
.y33{bottom:15.693333pt;}
.y0{bottom:22.666667pt;}
.y3d{bottom:25.613333pt;}
.y2a{bottom:27.392000pt;}
.y68{bottom:36.512000pt;}
.y31{bottom:39.053333pt;}
.y6d{bottom:39.080000pt;}
.y74{bottom:44.813333pt;}
.y3c{bottom:44.973333pt;}
.y3f{bottom:45.333333pt;}
.y29{bottom:48.192000pt;}
.y30{bottom:62.440000pt;}
.y3b{bottom:65.133333pt;}
.y28{bottom:66.592000pt;}
.y67{bottom:67.872000pt;}
.y3a{bottom:80.493333pt;}
.y27{bottom:84.832000pt;}
.y6c{bottom:85.640000pt;}
.y2f{bottom:85.800000pt;}
.y66{bottom:88.992000pt;}
.y39{bottom:95.853333pt;}
.y26{bottom:101.632000pt;}
.y65{bottom:107.072000pt;}
.y6b{bottom:109.000000pt;}
.y2e{bottom:109.160000pt;}
.y73{bottom:111.053333pt;}
.y38{bottom:111.213333pt;}
.y25{bottom:118.912000pt;}
.y64{bottom:125.952000pt;}
.y72{bottom:126.413333pt;}
.y37{bottom:126.573333pt;}
.y2c{bottom:132.346667pt;}
.y24{bottom:137.306667pt;}
.y70{bottom:141.760000pt;}
.y35{bottom:141.920000pt;}
.y63{bottom:147.226667pt;}
.y23{bottom:155.706667pt;}
.y62{bottom:165.626667pt;}
.y22{bottom:174.106667pt;}
.y61{bottom:184.026667pt;}
.y21{bottom:192.506667pt;}
.y60{bottom:202.426667pt;}
.y20{bottom:210.906667pt;}
.y5f{bottom:220.826667pt;}
.y1f{bottom:229.306667pt;}
.y5e{bottom:239.226667pt;}
.y1e{bottom:247.706667pt;}
.y5d{bottom:257.666667pt;}
.y1d{bottom:266.146667pt;}
.y5c{bottom:275.746667pt;}
.y1c{bottom:284.546667pt;}
.y5b{bottom:294.466667pt;}
.y1b{bottom:302.946667pt;}
.y5a{bottom:312.866667pt;}
.y1a{bottom:321.346667pt;}
.y59{bottom:331.266667pt;}
.y19{bottom:339.746667pt;}
.y58{bottom:349.666667pt;}
.y18{bottom:358.146667pt;}
.y57{bottom:368.066667pt;}
.y17{bottom:376.546667pt;}
.y56{bottom:386.466667pt;}
.y16{bottom:394.946667pt;}
.y55{bottom:404.866667pt;}
.y15{bottom:413.346667pt;}
.y54{bottom:423.266667pt;}
.y14{bottom:431.746667pt;}
.y53{bottom:441.666667pt;}
.y13{bottom:449.826667pt;}
.y52{bottom:460.066667pt;}
.y12{bottom:468.226667pt;}
.y51{bottom:478.466667pt;}
.y11{bottom:486.946667pt;}
.y50{bottom:496.866667pt;}
.y10{bottom:505.373333pt;}
.y4f{bottom:515.293333pt;}
.yf{bottom:523.773333pt;}
.y4e{bottom:533.693333pt;}
.ye{bottom:542.173333pt;}
.y4d{bottom:552.093333pt;}
.yd{bottom:560.573333pt;}
.y4c{bottom:570.493333pt;}
.yc{bottom:578.973333pt;}
.y4b{bottom:588.893333pt;}
.yb{bottom:597.373333pt;}
.y4a{bottom:607.293333pt;}
.ya{bottom:615.773333pt;}
.y49{bottom:625.693333pt;}
.y9{bottom:634.173333pt;}
.y48{bottom:644.093333pt;}
.y8{bottom:652.573333pt;}
.y47{bottom:662.493333pt;}
.y7{bottom:670.973333pt;}
.y46{bottom:680.893333pt;}
.y6{bottom:689.373333pt;}
.y45{bottom:699.293333pt;}
.y5{bottom:707.773333pt;}
.y44{bottom:717.693333pt;}
.y4{bottom:726.173333pt;}
.y43{bottom:736.093333pt;}
.y3{bottom:743.613333pt;}
.y42{bottom:754.533333pt;}
.y2{bottom:759.653333pt;}
.y41{bottom:772.933333pt;}
.y40{bottom:791.013333pt;}
.y1{bottom:794.373333pt;}
.y75{bottom:805.733333pt;}
.y36{bottom:808.280000pt;}
.y34{bottom:808.293333pt;}
.y71{bottom:821.080000pt;}
.y6f{bottom:821.093333pt;}
.y2d{bottom:965.080000pt;}
.y2b{bottom:965.093333pt;}
.y6a{bottom:977.880000pt;}
.y69{bottom:977.893333pt;}
.h16{height:15.346667pt;}
.h2{height:44.648750pt;}
.h5{height:44.875000pt;}
.hc{height:55.220937pt;}
.h10{height:55.343750pt;}
.h4{height:56.076875pt;}
.h8{height:56.562187pt;}
.h12{height:60.260000pt;}
.h7{height:61.208750pt;}
.h6{height:66.531250pt;}
.h3{height:67.562500pt;}
.he{height:77.841562pt;}
.h11{height:79.048125pt;}
.h13{height:144.653333pt;}
.h9{height:144.666667pt;}
.ha{height:144.680000pt;}
.h14{height:153.746667pt;}
.h15{height:153.760000pt;}
.hb{height:153.906667pt;}
.hd{height:153.920000pt;}
.hf{height:1077.333333pt;}
.h1{height:1087.333333pt;}
.h0{height:1122.560000pt;}
.w4{width:144.346667pt;}
.w5{width:273.613333pt;}
.w6{width:273.626667pt;}
.w2{width:283.573333pt;}
.w3{width:283.586667pt;}
.w8{width:339.253333pt;}
.w9{width:339.266667pt;}
.w7{width:362.946667pt;}
.wa{width:704.666667pt;}
.w1{width:714.000000pt;}
.w0{width:793.760000pt;}
.x13{left:0.000000pt;}
.x7{left:7.200000pt;}
.x8{left:9.600000pt;}
.x12{left:18.066667pt;}
.x10{left:27.186667pt;}
.xb{left:40.512000pt;}
.x9{left:48.032000pt;}
.x0{left:56.666667pt;}
.x1{left:66.240000pt;}
.xd{left:68.480000pt;}
.x17{left:80.466667pt;}
.x11{left:82.226667pt;}
.xa{left:92.666667pt;}
.x4{left:94.592000pt;}
.x3{left:104.032000pt;}
.x5{left:120.992000pt;}
.xf{left:137.466667pt;}
.xc{left:349.826667pt;}
.x14{left:355.906667pt;}
.x15{left:429.186667pt;}
.xe{left:494.186667pt;}
.x16{left:565.053333pt;}
.x2{left:613.413333pt;}
.x6{left:632.773333pt;}
}
