.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.891113;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.891113;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.908203;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.908203;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.766113;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.338867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.891113;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:0.747559;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.528000px;}
.ls7{letter-spacing:-0.306800px;}
.ls9{letter-spacing:-0.240000px;}
.ls4{letter-spacing:-0.144000px;}
.ls0{letter-spacing:-0.120000px;}
.lsc{letter-spacing:-0.096000px;}
.lsa{letter-spacing:-0.035520px;}
.ls1{letter-spacing:0.000000px;}
.ls8{letter-spacing:0.100000px;}
.ls5{letter-spacing:0.120000px;}
.ls3{letter-spacing:0.144000px;}
.lsb{letter-spacing:0.173200px;}
.ls6{letter-spacing:0.240000px;}
.lsd{letter-spacing:0.480000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-2.928000px;}
._5{margin-left:-1.088000px;}
._1{width:1.347840px;}
._c{width:3.216000px;}
._1a{width:5.376000px;}
._6{width:6.912000px;}
._7{width:7.920000px;}
._e{width:9.644160px;}
._9{width:10.928000px;}
._11{width:13.872000px;}
._d{width:15.264000px;}
._a{width:16.304000px;}
._1b{width:17.760000px;}
._12{width:18.864000px;}
._15{width:19.872000px;}
._16{width:21.224000px;}
._1c{width:23.616000px;}
._b{width:25.008000px;}
._13{width:26.256000px;}
._10{width:28.864000px;}
._f{width:30.224000px;}
._4{width:32.192000px;}
._14{width:33.316160px;}
._19{width:36.336000px;}
._1d{width:39.216000px;}
._18{width:48.114240px;}
._0{width:88.184000px;}
._2{width:107.876480px;}
._3{width:128.040000px;}
._17{width:129.600000px;}
.fc3{color:rgb(192,0,0);}
.fc2{color:rgb(0,112,192);}
.fc1{color:rgb(68,68,68);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:39.840000px;}
.fs3{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:54.240000px;}
.fs0{font-size:56.160000px;}
.y30{bottom:2.160000px;}
.y3f{bottom:2.280000px;}
.y39{bottom:4.450000px;}
.y47{bottom:6.130000px;}
.y2f{bottom:13.210000px;}
.y3e{bottom:13.330000px;}
.y46{bottom:17.650000px;}
.y38{bottom:19.690000px;}
.y45{bottom:29.170000px;}
.y37{bottom:31.090000px;}
.y2e{bottom:36.250000px;}
.y3d{bottom:36.270000px;}
.y44{bottom:40.570000px;}
.y0{bottom:41.000000px;}
.y36{bottom:42.610000px;}
.y43{bottom:52.090000px;}
.y28{bottom:52.344000px;}
.y35{bottom:54.130000px;}
.y2d{bottom:59.310000px;}
.y41{bottom:63.600000px;}
.y34{bottom:65.650000px;}
.y5b{bottom:67.344000px;}
.y27{bottom:67.944000px;}
.y32{bottom:77.160000px;}
.y26{bottom:81.744000px;}
.y2c{bottom:82.230000px;}
.y3c{bottom:82.350000px;}
.y5a{bottom:82.824000px;}
.y2a{bottom:93.740000px;}
.y59{bottom:95.544000px;}
.y25{bottom:95.784000px;}
.y24{bottom:109.580000px;}
.y23{bottom:123.380000px;}
.y22{bottom:137.180000px;}
.y21{bottom:150.980000px;}
.y20{bottom:164.780000px;}
.y1f{bottom:178.580000px;}
.y1e{bottom:192.410000px;}
.y1d{bottom:206.210000px;}
.y1c{bottom:220.010000px;}
.y1b{bottom:233.810000px;}
.y1a{bottom:247.610000px;}
.y19{bottom:261.410000px;}
.y18{bottom:275.210000px;}
.y17{bottom:289.010000px;}
.y16{bottom:302.810000px;}
.y15{bottom:316.610000px;}
.y14{bottom:330.410000px;}
.y13{bottom:344.210000px;}
.y12{bottom:358.010000px;}
.y11{bottom:371.690000px;}
.y58{bottom:371.810000px;}
.y10{bottom:385.510000px;}
.y57{bottom:385.630000px;}
.yf{bottom:399.310000px;}
.y56{bottom:399.430000px;}
.ye{bottom:413.110000px;}
.y55{bottom:413.230000px;}
.yd{bottom:426.910000px;}
.y54{bottom:427.030000px;}
.yc{bottom:440.710000px;}
.y53{bottom:440.830000px;}
.yb{bottom:454.510000px;}
.y52{bottom:454.630000px;}
.ya{bottom:468.310000px;}
.y51{bottom:468.430000px;}
.y9{bottom:482.110000px;}
.y50{bottom:482.230000px;}
.y8{bottom:495.910000px;}
.y4f{bottom:496.030000px;}
.y7{bottom:509.710000px;}
.y4e{bottom:509.830000px;}
.y6{bottom:523.510000px;}
.y4d{bottom:523.630000px;}
.y5{bottom:537.310000px;}
.y4c{bottom:537.430000px;}
.y4{bottom:551.110000px;}
.y4b{bottom:551.230000px;}
.y3{bottom:574.660000px;}
.y2{bottom:588.580000px;}
.y4a{bottom:602.380000px;}
.y1{bottom:614.260000px;}
.y49{bottom:616.180000px;}
.y33{bottom:625.410000px;}
.y31{bottom:625.420000px;}
.y48{bottom:630.220000px;}
.y42{bottom:642.690000px;}
.y40{bottom:642.700000px;}
.y2b{bottom:713.850000px;}
.y29{bottom:713.860000px;}
.y3b{bottom:717.570000px;}
.y3a{bottom:717.580000px;}
.h7{height:33.328125px;}
.h5{height:33.656250px;}
.hc{height:34.451484px;}
.h14{height:36.733828px;}
.he{height:41.415703px;}
.h15{height:41.507812px;}
.ha{height:42.057656px;}
.h16{height:45.195000px;}
.h6{height:49.125000px;}
.h4{height:49.898438px;}
.h2{height:50.671875px;}
.h3{height:57.259219px;}
.h8{height:57.969844px;}
.h10{height:58.381172px;}
.h12{height:72.594000px;}
.h13{height:72.600000px;}
.hd{height:86.154000px;}
.hf{height:86.160000px;}
.h9{height:102.980000px;}
.hb{height:102.990000px;}
.h1{height:776.000000px;}
.h11{height:780.000000px;}
.h0{height:841.920000px;}
.w3{width:104.300000px;}
.wa{width:194.890000px;}
.w4{width:194.900000px;}
.w2{width:197.300000px;}
.w9{width:197.450000px;}
.w7{width:243.400000px;}
.w8{width:243.410000px;}
.w5{width:253.090000px;}
.w6{width:253.100000px;}
.wb{width:253.250000px;}
.w1{width:496.500000px;}
.w0{width:595.320000px;}
.x10{left:-0.006000px;}
.x5{left:5.394000px;}
.x6{left:7.554000px;}
.xe{left:15.230000px;}
.x9{left:22.674000px;}
.xd{left:24.710000px;}
.x8{left:41.030000px;}
.x7{left:49.070000px;}
.xf{left:56.510000px;}
.x12{left:62.000000px;}
.x0{left:63.500000px;}
.x1{left:70.944000px;}
.xc{left:97.940000px;}
.x3{left:99.264000px;}
.x2{left:116.660000px;}
.x13{left:259.490000px;}
.xa{left:260.570000px;}
.x15{left:315.290000px;}
.x11{left:316.370000px;}
.x14{left:363.800000px;}
.xb{left:364.880000px;}
.x17{left:389.590000px;}
.x16{left:422.470000px;}
.x4{left:482.020000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.704000pt;}
.ls7{letter-spacing:-0.409067pt;}
.ls9{letter-spacing:-0.320000pt;}
.ls4{letter-spacing:-0.192000pt;}
.ls0{letter-spacing:-0.160000pt;}
.lsc{letter-spacing:-0.128000pt;}
.lsa{letter-spacing:-0.047360pt;}
.ls1{letter-spacing:0.000000pt;}
.ls8{letter-spacing:0.133333pt;}
.ls5{letter-spacing:0.160000pt;}
.ls3{letter-spacing:0.192000pt;}
.lsb{letter-spacing:0.230933pt;}
.ls6{letter-spacing:0.320000pt;}
.lsd{letter-spacing:0.640000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-3.904000pt;}
._5{margin-left:-1.450667pt;}
._1{width:1.797120pt;}
._c{width:4.288000pt;}
._1a{width:7.168000pt;}
._6{width:9.216000pt;}
._7{width:10.560000pt;}
._e{width:12.858880pt;}
._9{width:14.570667pt;}
._11{width:18.496000pt;}
._d{width:20.352000pt;}
._a{width:21.738667pt;}
._1b{width:23.680000pt;}
._12{width:25.152000pt;}
._15{width:26.496000pt;}
._16{width:28.298667pt;}
._1c{width:31.488000pt;}
._b{width:33.344000pt;}
._13{width:35.008000pt;}
._10{width:38.485333pt;}
._f{width:40.298667pt;}
._4{width:42.922667pt;}
._14{width:44.421547pt;}
._19{width:48.448000pt;}
._1d{width:52.288000pt;}
._18{width:64.152320pt;}
._0{width:117.578667pt;}
._2{width:143.835307pt;}
._3{width:170.720000pt;}
._17{width:172.800000pt;}
.fs4{font-size:53.120000pt;}
.fs3{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:72.320000pt;}
.fs0{font-size:74.880000pt;}
.y30{bottom:2.880000pt;}
.y3f{bottom:3.040000pt;}
.y39{bottom:5.933333pt;}
.y47{bottom:8.173333pt;}
.y2f{bottom:17.613333pt;}
.y3e{bottom:17.773333pt;}
.y46{bottom:23.533333pt;}
.y38{bottom:26.253333pt;}
.y45{bottom:38.893333pt;}
.y37{bottom:41.453333pt;}
.y2e{bottom:48.333333pt;}
.y3d{bottom:48.360000pt;}
.y44{bottom:54.093333pt;}
.y0{bottom:54.666667pt;}
.y36{bottom:56.813333pt;}
.y43{bottom:69.453333pt;}
.y28{bottom:69.792000pt;}
.y35{bottom:72.173333pt;}
.y2d{bottom:79.080000pt;}
.y41{bottom:84.800000pt;}
.y34{bottom:87.533333pt;}
.y5b{bottom:89.792000pt;}
.y27{bottom:90.592000pt;}
.y32{bottom:102.880000pt;}
.y26{bottom:108.992000pt;}
.y2c{bottom:109.640000pt;}
.y3c{bottom:109.800000pt;}
.y5a{bottom:110.432000pt;}
.y2a{bottom:124.986667pt;}
.y59{bottom:127.392000pt;}
.y25{bottom:127.712000pt;}
.y24{bottom:146.106667pt;}
.y23{bottom:164.506667pt;}
.y22{bottom:182.906667pt;}
.y21{bottom:201.306667pt;}
.y20{bottom:219.706667pt;}
.y1f{bottom:238.106667pt;}
.y1e{bottom:256.546667pt;}
.y1d{bottom:274.946667pt;}
.y1c{bottom:293.346667pt;}
.y1b{bottom:311.746667pt;}
.y1a{bottom:330.146667pt;}
.y19{bottom:348.546667pt;}
.y18{bottom:366.946667pt;}
.y17{bottom:385.346667pt;}
.y16{bottom:403.746667pt;}
.y15{bottom:422.146667pt;}
.y14{bottom:440.546667pt;}
.y13{bottom:458.946667pt;}
.y12{bottom:477.346667pt;}
.y11{bottom:495.586667pt;}
.y58{bottom:495.746667pt;}
.y10{bottom:514.013333pt;}
.y57{bottom:514.173333pt;}
.yf{bottom:532.413333pt;}
.y56{bottom:532.573333pt;}
.ye{bottom:550.813333pt;}
.y55{bottom:550.973333pt;}
.yd{bottom:569.213333pt;}
.y54{bottom:569.373333pt;}
.yc{bottom:587.613333pt;}
.y53{bottom:587.773333pt;}
.yb{bottom:606.013333pt;}
.y52{bottom:606.173333pt;}
.ya{bottom:624.413333pt;}
.y51{bottom:624.573333pt;}
.y9{bottom:642.813333pt;}
.y50{bottom:642.973333pt;}
.y8{bottom:661.213333pt;}
.y4f{bottom:661.373333pt;}
.y7{bottom:679.613333pt;}
.y4e{bottom:679.773333pt;}
.y6{bottom:698.013333pt;}
.y4d{bottom:698.173333pt;}
.y5{bottom:716.413333pt;}
.y4c{bottom:716.573333pt;}
.y4{bottom:734.813333pt;}
.y4b{bottom:734.973333pt;}
.y3{bottom:766.213333pt;}
.y2{bottom:784.773333pt;}
.y4a{bottom:803.173333pt;}
.y1{bottom:819.013333pt;}
.y49{bottom:821.573333pt;}
.y33{bottom:833.880000pt;}
.y31{bottom:833.893333pt;}
.y48{bottom:840.293333pt;}
.y42{bottom:856.920000pt;}
.y40{bottom:856.933333pt;}
.y2b{bottom:951.800000pt;}
.y29{bottom:951.813333pt;}
.y3b{bottom:956.760000pt;}
.y3a{bottom:956.773333pt;}
.h7{height:44.437500pt;}
.h5{height:44.875000pt;}
.hc{height:45.935312pt;}
.h14{height:48.978437pt;}
.he{height:55.220937pt;}
.h15{height:55.343750pt;}
.ha{height:56.076875pt;}
.h16{height:60.260000pt;}
.h6{height:65.500000pt;}
.h4{height:66.531250pt;}
.h2{height:67.562500pt;}
.h3{height:76.345625pt;}
.h8{height:77.293125pt;}
.h10{height:77.841562pt;}
.h12{height:96.792000pt;}
.h13{height:96.800000pt;}
.hd{height:114.872000pt;}
.hf{height:114.880000pt;}
.h9{height:137.306667pt;}
.hb{height:137.320000pt;}
.h1{height:1034.666667pt;}
.h11{height:1040.000000pt;}
.h0{height:1122.560000pt;}
.w3{width:139.066667pt;}
.wa{width:259.853333pt;}
.w4{width:259.866667pt;}
.w2{width:263.066667pt;}
.w9{width:263.266667pt;}
.w7{width:324.533333pt;}
.w8{width:324.546667pt;}
.w5{width:337.453333pt;}
.w6{width:337.466667pt;}
.wb{width:337.666667pt;}
.w1{width:662.000000pt;}
.w0{width:793.760000pt;}
.x10{left:-0.008000pt;}
.x5{left:7.192000pt;}
.x6{left:10.072000pt;}
.xe{left:20.306667pt;}
.x9{left:30.232000pt;}
.xd{left:32.946667pt;}
.x8{left:54.706667pt;}
.x7{left:65.426667pt;}
.xf{left:75.346667pt;}
.x12{left:82.666667pt;}
.x0{left:84.666667pt;}
.x1{left:94.592000pt;}
.xc{left:130.586667pt;}
.x3{left:132.352000pt;}
.x2{left:155.546667pt;}
.x13{left:345.986667pt;}
.xa{left:347.426667pt;}
.x15{left:420.386667pt;}
.x11{left:421.826667pt;}
.x14{left:485.066667pt;}
.xb{left:486.506667pt;}
.x17{left:519.453333pt;}
.x16{left:563.293333pt;}
.x4{left:642.693333pt;}
}
